<div class="container-fluid">
  <app-repo-search (emitSearch)="searchUser($event)" (emitSearch)="getRepos($event)"></app-repo-search>
   <div class="card">
     <div class="card-body">
       <h5 class="card-title">Username: {{users.login}}</h5>
       <img class="card-img-top product-image" src="{{users.avatar_url}}" alt="User's avatar">
       <p class="card-text">User ID: {{users.id}}</p>
     </div>
  </div>
  
  <div *ngIf="repos">
    <div class="card-columns">
      <div *ngFor="let repo of repos">
        <div class="card">
          <!-- Card image -->
          <div class="view view-cascade gradient-card-header purple-gradient">
    
            <!-- Title -->
            <h2 class="card-header-title"> {{repo.name }}</h2>
            <!-- Subtitle -->
            <h5 class="mb-0 pb-3 pt-2"> {{repo.description}} </h5>
            
            <h6 class="mb-0 pb-3 pt-2"> {{repo.html_url}} </h6>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
